.records{
    width: 100%;
    text-align: left;
    user-select: none;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
}

.records td{
    height: 50px;
    padding-left: 20px;
}

.records td:last-child,
.records th:last-child{
    padding: 0;
    text-align: center;
    min-width: 140px;
}

.records tr:hover{
    background-color: var(--secondary-color);
}

/*---------------------------------------MOBILE---------------------------------------*/

@media (max-width: 414px){

    
    .records{
        width: 100%;
        text-align: center;
        border-spacing: 5px;        
    }

    .records thead{
        display: none;
    }

    .records tr{
        box-shadow: 0 1px 4px var(--shadow-color);
        padding: 10px;
    }

    .records tr:hover{
        background-color: inherit;
    }

    .records td:first-child{
        border-collapse: collapse;
        border: 2px solid #FFFFFF;
        padding: 0 20px 0 10px;
        text-align: center;
    }

    .records td:not(:first-child){
        display:flex;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
    }

    .records td:last-child{
        justify-content: space-evenly;
        padding-right: 20px;
    }

}
